// .reportsCategories {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   background-color: #fff;
//   box-shadow: 0px 10px 60px rgb(170 178 197 / 20%);
//   border-radius: 30px;
//   padding: 20px 0;
// }

// .toggle {
//   display: flex;
//   align-items: center;
//   font-family: 'Roboto Bold', sans-serif;
//   font-size: 14px;
//   line-height: 1.14;
//   p {
//     margin: 0 16px;
//   }
// }
