.canvas {
  width: 280px;
  height: 520px;
}
@media (min-width: $mobile) {
  .canvas {
    width: 700px;
    height: 420px;
    position: relative;
    z-index: 111;
    background-color: #fff;
  }
}

@media (min-width: $desktop) {
  .canvas {
    width: 760px;
    height: 430px;
  }
}
