@import '../../sass/mixin';

.header {
  height: 56px;
  background-color: var(--white);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  height: 100%;

  padding: 0 20px;
  margin: 0 auto;

  @include mq(mob) {
    width: 480px;
  }

  @include mq(tab) {
    width: 768px;
    padding: 0 32px;
  }

  @include mq(desk) {
    width: 1280px;
    padding: 0 16px;
  }
}
.wrap {
  display: flex;
  align-items: center;
}

.span {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--grey);
  color: var(--descr-gray);

  font-size: 12px;
  font-weight: 700;
  line-height: 1.16;
  border-radius: 50%;
  height: 32px;
  width: 32px;

  margin-right: 16px;
}
.name {
  margin-right: 20px;
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--descr-gray);
}
.btn {
  background-color: transparent;
  border: none;
  transition: all var(--transition);
}
.name::after {
  content: '';
  display: block;
  width: 0px;
  height: 36px;
  border: 1px solid #e0e5eb;
  margin-left: 20px;
}
.btn:hover,
.btn:focus {
  transform: scale(1.1);
}

.exit {
  color: var(--descr-gray);
  text-decoration: underline;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}
