 @import '../sass/mixin';
// @import '../sass/variables';

.xz{
    font-family: 'Roboto Black';
    width: 500px;
    height: 500px;
    border: 2px solid var(--accent-color) ;

    @include mq(desk){
        font-family: 'Roboto Regular';
        font-weight: 900;
        width: 800px;
        height: 700px;  
    }
}


