@import '../../sass/mixin';

.main {
  min-height: 90vh;
  background-repeat: no-repeat;
  background-image: url(../../images/05kapusta.svg), url(../../images/kapusta.svg),
    url(../../images/bcgMob.png);
  background-position: top 100px right, bottom left 35px, top left;
  background-size: auto, auto, 100% 320px;
  @include mq(tab) {
    background-image: url(../../images/kapusta37.svg), url(../../images/2kapusta_group38.svg),
      url(../../images/bcgTab.png);
    background-position: top 28px left 10px, bottom 56px left 103px, top left;
    background-size: auto, auto, 100% 582px;
  }
  @include mq(desk) {
    background-repeat: repeat-x, no-repeat, no-repeat;
    background-image: url(../../images/37kapusta37.svg), url(../../images/2kapusta_group38.svg),
      url(../../images/bcgDeskNoAuth.png);
    background-position: top 28px left 10px, bottom 50px left 230px, top left;
    background-size: auto, auto, 100% 582px;
  }
}
.mainAuth {
  min-height: 90vh;
  background-repeat: no-repeat;
  background-image: url(../../images/bcgMob.png);
  background-position: top left;
  background-size: 100% 320px;
  @include mq(tab) {
    background-image: url(../../images/2kapusta_group38.svg), url(../../images/bcgTab.png);
    background-position: bottom 59px right 88px, top left;
    background-size: auto, 100% 583px;
  }
  @include mq(desk) {
    background-repeat: repeat-x, no-repeat;
    background-image: url(../../images/37kapusta37.svg), url(../../images/bcgDeskAuth.png);
    background-position: bottom -38px left 10px, top left;
  }
}
