.backgroundChartCategory {
    margin-top: 32px;
    margin-bottom: 40px;
    border-radius: 30px;
    background-color: #FFFFFF;
}

canvas {
    display: block;
    box-sizing: border-box;
    height: 328px;
    width: 605px;
    padding: 100px;
    text-align: center;
}
