.backgroundChartCategory {
  margin-top: 32px;
  margin-bottom: 40px;
  border-radius: 30px;
  background-color: #ffffff;
  padding-top: 50px;
}

canvas {
  display: block;
  box-sizing: border-box;
  height: 328px;
  text-align: center;
  margin: 0 auto;
}
