@import '../../sass/mixin';

.backgroundChartCategory {
  margin: 0 auto;
  padding: 50px 50px 44px 50px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0px 10px 60px rgb(170 178 197 / 20%);

  @include mq(desk) {
    padding: 50px 247px 44px 247px;
  }
}

// canvas {
//   width: 280px;
//   @include mq(tab) {
//     width: 605px;
//   }
// }
