.Item {
  list-style: none;
  padding: 11px;
  position: relative;
  margin: 22px 0 24px;
}

.ItemList {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 320px;
}
.Item:nth-child(3n + 3):after {
  display: block;
  width: 254px;
  content: '';
  position: absolute;
  border-bottom: 2px solid #f4f6fb;
  top: 124%;
  right: 7px;
}
.Item:last-child:after {
  display: block;
  width: 254px;
  content: '';
  position: absolute;
  border-bottom: 2px solid #f4f6fb;
  top: 124%;
  right: -36px;
}
.ItemTablet {
  list-style: none;
  padding: 8px;
  position: relative;
  margin: 22px 0 24px;
}
.ItemTablet:nth-child(8) {
  word-break: break-all;
}
.Item:nth-child(8) {
  word-break: break-all;
}
.ItemListTablet {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ListBackgroundTablet {
  width: 689px;
  height: 334px;
  background-color: #ffffff;
  box-shadow: 7px 12.5px 12.5px rgba(179, 185, 200, 0.25);
  border-radius: 20px;
  margin: 26px auto;
}
.ItemTablet:nth-child(3n + 3):after {
  width: 0;
}
.ItemTablet:last-child:after {
  width: 0;
}
.ListBackgroundDesktop {
  width: 943px;
  height: 349px;
  background-color: #ffffff;
  box-shadow: 7px 12.5px 12.5px rgba(179, 185, 200, 0.25);
  border-radius: 20px;
  margin: 30px auto;
}
.button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.activeChartBtn {
  background-color: rgb(88, 43, 43);
}
